.main_title {
	float: left;
	color: black;
	border-right: 1px solid #bbb;
	display: block;
	padding: 8px;
}

.navbar {
	background-color: #dddddd;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;

}

a {
	color:#0000ff;
}

.navlist {
	float: left;
	color: black;
	border-right: 1px solid #bbb;
}

.navlist:last-child {
	border-right: none;
}

.navlinks {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none;
	text-align: center;
	float: left;
	color: black;
	font-size: 22px;
}

.navlinks:hover {
	background-color: #595959;;
}

.navlinks:active {
	background-color: red;
}

.signin {
	float: right;
	color: black;
	border-right: 20px solid #dddddd;
	padding: 10px;
}

.loginform {
	border: 3px solid #f1f1f1;
}

.UNinput {
	width: 100%;
	padding: 12px 20px;
	margin: 8x 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.PWDinput {
	width: 100%;
	padding: 12px 20px;
	margin: 8x 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.loginbutton {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.loginbutton:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.container {
	padding: 16px;
}

.psw {
	float: right;
	padding-top: 16px;
}

@media screen and (max-width: 300px) {
	.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}