.main_title {
	float: left;
	color: black;
	border-right: 1px solid #bbb;
	display: block;
	padding: 8px;
}

.navbar {
	background-color: #dddddd;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;

}

a {
	color:#0000ff;
	text-decoration: none;
}

.navlist {
	float: left;
	color: black;
	border-right: 1px solid #bbb;
}

.navlist:last-child {
	border-right: none;
}

.navlinks {
	display: block;
	padding: 8px;
	background-color: #dddddd;
	text-decoration: none;
	text-align: center;
	float: left;
	color: black;
	font-size: 22px;
}

.navlinks:hover {
	background-color: #595959;;
}

.navlinks:active {
	background-color: red;
}

.rtt {
	text-align: center;
}

.vehicle {
	border: 3px;
	border-style: solid;
	border-radius: 20px;
	padding: 20px;
	width: 190px;
	height: 80px;
	text-align: center;
}

.vehicle_title {
	text-align: center;
}

div {
	display: grid;
	grid-template-columns: auto auto auto;
}

.left {
	grid-column: 2;
}

.mid {
	grid-column: 3;
}

.right {
	grid-column: 4;
}

.active {
	border-color: #00f044;
}

.expended {
	border-color: #ff0000;
}

.destroyed {
	border-color: #ff0000;
}

.retired {
	border-color: #fcba03;
}